.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:#1A0B2E ; */
}
.nav-header{
    background-color:#1A0B2E ;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.nav-link ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-link ul li a{
    color: aliceblue;
    text-decoration: none;
}
.btn-1st,.btn{
  background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  /* transition: transform .3s ease, box-shadow .3s ease; */
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1);
        box-shadow: #2888d7;
    }
    50%{
        transform: scale(1.05);
        box-shadow: #3ff761;
    }
    100%{
        transform: scale(1);
        box-shadow: #F7E93F;
    }
}
.btn:hover{
   /* transform: rotate(90deg) scale(1.5) translateX(50px);  */
    
}
.nav-logo-ph{
    display: none;
}
.nav-text{
    font-size: 24px;
    font-weight: 700;
}
.nav-text span{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#banner{
    /* border: 1px solid red; */
    background-image: url(../assets/hero-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: aliceblue;

}
.banner-content{
    /* padding: 101px 525px ; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner-image{
    /* padding: 101px 625px 309px 625px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.banner-image .img-2{
    position: absolute;
    width: 80px;

}
.banner-image .img-1{
    width: 200px;
}
.banner-content p{
    padding-bottom: 20px;
    /* opacity: 80%; */
}
.banner-content .banner-button{
    padding-bottom: 20px;
    gap: 50px;
}
.banner-button .btn-sub{
    padding:15px 30px;
    color: white;
    border:1px solid #00FF88;
    color: #00FF88;
    border-radius: 50px;
    background: transparent;
    font-weight: 700;
    text-align: center;
    animation: pulse 2s ease-in-out infinite;

}

.icon{
    position: absolute;
    top:15px;
    right:5px;
    background-color: #00FF88;
    border-radius: 30px;
    font-size: small;
    padding: 4px 12px;

}
.banner-footer{
    background: #1A0B2E;
    color: aliceblue;
    /* padding: 50px 200px 375px 200px; */
    margin-top: 0 auto;
    text-align: center;

}
.banner-footer-head{
    /* padding: 50px 200px 375px 200px; */
    margin: 0 auto;
}
.banner-footer-head h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
}
.banner-footer-head .banner-footer-p1{
    padding-bottom: 20px;
    opacity: 80%;
}
.banner-footer-head p{
    opacity: 80%;
    padding-bottom: 60px;
}
.banner-footer-link ul{
     display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 60px ;
    /* align-items: center; */
    text-align: center;
    justify-content: center;

}
.banner-footer-link ul li h1{
    color: #00FF88;
    padding-bottom: 10px;
}
.banner-content-divider{
    max-width:  100%;
    border: none;
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: #FFFFFF;
    opacity: .2;
}
.banner-footer-link ul li p{
    font-size: medium;
    padding-bottom: 120px;
    opacity: 80%;
}
.banner-divider{
    max-width:  1360px;
    border: none;
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: #FFFFFF;
    opacity: .2;
    /* padding-top: ; */
   
    
}
.main{
    background-color: #230E3D;
    color: aliceblue;
    padding-top: 120px;
}
.main-header,.video-header , .host-header{
    /* justify-content: center; */
    text-align: center;
}
.main-header h2{
    font-size: 3rem;
}
.main-container{
    display: grid;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 20px;
    /* padding:  100px 200px 120px 200px; */
    gap: 30px;
    /* border: 1px solid red; */
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "box1 box2 box2 box2"
    "box1 box3 box3 box3"
    "box4 box4 box5 box5";

}
.main-box-1 { grid-area: box1; }
.main-box-2 { grid-area: box2; }
.main-box-3 { grid-area: box3; }
.main-box-4 { grid-area: box4; }
.main-box-5 { grid-area: box5; }
[class^="main-box-"]{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    padding: 40px;
    align-items: flex-start;
    text-align: left;
}
[class^="main-box-"] h3{
    font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 15px 0 10px 0;
}
[class^="main-box-"] p{
    font-size: smaller;
    opacity: 60%;
}
.video{
    background: #1A0B2E;
    color: aliceblue;
    padding: 60px 20px;
    /* max-width: 1600px; */
    /* justify-content: z; */
}
.video-header{
    /* justify-content: center;
     */
     font-size: larger;
     /* text-align: center; */
     font-weight: 600;
     /* padding-top: 60px; */
}
.video-container{
    display: grid;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    /* background: #230E3D; */
    margin: 0 auto 80px auto;
    /* max-width: 1600px; */
    max-width: 1100px;
    padding-top: 20px;
    gap:40px;
    grid-template-columns: repeat(3,1fr);

}
.video-link{
    background: #230E3D;
    padding: 15px;
    border-radius: 20px;
}
.video-link iframe{
    width: 100%;
    aspect-ratio: 1/6;
    border-radius: 10px;
    margin-bottom: 15px;
}
.video-link h3{
    padding-right: 24px;
    padding-bottom: 20px;
    text-align: left;
}
.video-link p{
    opacity: 80%;
    padding-bottom: 10px;
}

.video-link .video-icon span{
    color: #00FF88;
}
.host-header{
    padding-bottom: 30px;
    font-size: larger;
}
.host-header h2{
    font-size: 3rem;
}

.host-card{
    display: flex;
    background: #230E3D;
    padding: 30px 30px;
    border-radius: 30px;
    max-width: 1200px;
    margin: 0 auto;
    /* justify-content: center; */
}

.host-para{
    padding-top: 40px;
    padding-left: 40px;
}
.host-para h1{
    padding-bottom: 10px;
    font-size: 2rem;
    opacity: 100%;
}
.host-para p{
    opacity: 80%;
    padding-bottom: 10px;
}
.host-social img{
    padding: 10px;
    border:1px solid wheat;
    background: transparent;
    border-radius: 50%;
}
.footer{
    text-align: center;
    background-image: url(../assets/footer-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 120px;
    color: aliceblue;

}
.footer-header h1{
    font-size: 5rem;
}
.footer-link ul{
    display: flex;
    list-style: none;
    gap: 20px;
    /* flex-direction: row; */
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
    
}
.footer-link ul li a{
    color: aliceblue;
    text-decoration: none;
    opacity: 80%;
    
}
.footer-foot{
    opacity: 80%;
}

@media screen and (max-width:576px){
    .nav-header ,.banner-footer-head{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-link, .btn-1st{
        display: none;
    }
    .nav-logo-ph,.host-card {
        display: block;
    }
    .banner-button{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        width: 100%;
        padding: 0 20px;
        gap:5px;
    }
    .banner-footer-link ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-footer-link ul li p{
        padding-bottom: 20px;
    }
    .main-container{
        /* display: block; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box4"
        "box5";
    }
    .video-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
   .host-card{
    text-align: center;
   }
   .footer-header h1{
    font-size: 3rem;
   }
   .footer-link ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
    
}